<html>
    <head>
        <title>Gal's Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Gal's Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 22.09.2016, 14:14</p>
            <h2><a href="">My first post</a></h2>
            <p> html is fun</p>
        </div>

        <div>
            <p>published: 05.03.2016, 12:14</p>
            <h2><a href="">I had a birthday</a></h2>
            <p>happy time with friends</p>
        </div>

        <div>
          <p><strong>Django girls</strong></p>
          <a href="https://djangogirls.org">link</a>
    </body>
</html>
